.App {
  background-color: #282c34;
  min-height: 100vh;
}
.App__wrapper {
  padding: 5rem 1.5rem;
  margin: 0 auto;
  width: 600px;
}
.App__title {
  margin-top: 0;
  margin-bottom: 5rem;
  text-align: center;
  color: #61dafb;
}
