.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: var(--color-black);
}
.appWrapper {
  width: 600px;
  padding: 2rem 1.5rem;
  margin: 2rem auto;
  border-radius: 1rem;
  color: var(--color-white);
  background: var(--color-bgApp);
}
.appTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 5rem;
  color: var(--color-blue);
}
