body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #61dafb;

  --color-text: #202020;
  --color-border: #2e3238;
  --color-postsEmpty: #c1c1c1;

  --color-activeAdd: #f30085;
  --color-activeRemove: #e9205cf5;

  --color-boxShadow: rgba(0, 0, 0, 0.5);
  --color-boxShadowHover: rgb(255, 251, 251, 0.35);

  --color-bgApp: #3c424a;
  --color-bgPost: #d3d3d3;
  --color-bgField: #6e7373;
  --color-bgRemove: #6e7373;
}
